body{
    font-family: Arial, Helvetica, Comic Sans MS, sans-serif !important;
    background-color: black;
    color:black;
    

}

img.background-img {
    max-width: 100%;
    height: auto;
    opacity: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
}

img.small-img{
    max-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

#logo {
    color: black;
    margin: 0;
    display:inline;
}

#content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
}

#header{
    height: 40px;
    background-color: burlywood;
    padding:20px;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 2;
}

#main{
    position: relative;
    text-align: center;
    min-height: 853px;
    margin-top: 80px;
    color: antiquewhite;
    padding: 20px
}

#main-content{
    margin-top: 120px;

}
#footer{
    height: 80px;
    background-color: burlywood;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.tabs{
    width: 100px;
    height: 60px;
    position: relative;
    left: 400px; 
    border: none;
    background-color: antiquewhite;


}

button.tabs:hover{
    bottom:10px;
    cursor: pointer;
}

.tabs:focus{ outline-color: #A75000 }

.tabs:active{
    background-color: black;
    color: white;
}